
.amenities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
  }
  
  
  .amenity-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 22%;
    min-width: 250px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  }
  
  .amenity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  
  @media (max-width: 768px) {
    .amenity-card {
      width: 90%;
    }
  }
  