/*  RESTAURANTS SECTION  */

.restaurants-section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

/* Media Queries */
@media (max-width: 1024px) {
  .restaurants-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .restaurants-grid {
    grid-template-columns: 1fr;
  }
}
